.about-top {
  padding: 58px 0px;
}
.about-top .h1-about {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 160px;
  line-height: 100%;
  margin: 0px 0px 80px;
/* or 160px */
  letter-spacing: 0.03em;
  text-transform: uppercase;
/* black */
  color: #202020;
}
.to-skroll {
  display: flex;
  align-items: center;
}
.skroll-text {
  margin: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
/* black */
  color: #202020;
}
.skroll-text-wrap {
  margin-right: 32px;
}
.what-about {
  padding: 110px 0px;
  background: url("./../img/logoback.png");
  background-repeat: no-repeat;
  background-size: 900px;
  background-position: left;
}
.what-about .big-header {
  font-size: 54px;
  line-height: 70px;
}
.services-row {
  display: flex;
  width: 100%;
}
.services-row .medium_header {
  max-width: 100%;
  margin-bottom: 10px;
}
.services-row .normal_text {
  margin: 0px;
}
.services-row .only-left-2 {
  max-width: 37%;
  align-self: flex-start;
}
.services-row .only-right-2 {
  align-self: flex-end;
  max-width: 49%;
}
.services-row.right-row {
  justify-content: flex-end;
}
.services-row.right-row .small_header {
  margin-bottom: 22px;
}
.services-row.right-row .big-header {
  font-size: 30px;
  line-height: 39px;
}
.story-about {
  padding: 110px 0px;
}
.story-about .big-header {
  max-width: 59%;
}
.story-about .wrap-header {
  border-bottom: 1px solid dark-color;
  padding-bottom: 45px;
  margin-bottom: 35px;
}
.persons-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.persons-wrap .person-item {
  width: 33%;
  border-bottom: 1px solid dark-color;
  margin-bottom: 35px;
}
.persons-wrap .person-img {
  border-radius: 100%;
  width: 100%;
  overflow: hidden;
}
.persons-wrap .person-img img {
  display: block;
  width: 100%;
}
.persons-wrap .person-name {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: dark-color;
}
.persons-wrap .person-name span {
  font-weight: bold;
}
.choose-command {
  padding: 80px 0px 453px;
}
.choose-command .big-header {
  max-width: 80%;
  line-height: 71px;
}
.rewiew-section {
  max-width: 700px;
  display: flex;
  align-self: flex-end;
  float: right;
  margin-top: -75px;
}
.rewiew-section .owl-carousel {
  width: 100%;
}
.rewiew-section .owl-carousel .rew-img {
  margin-bottom: 15px;
}
.rewiew-section .owl-carousel .rew-text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
/* or 31px */
  letter-spacing: 0.03em;
/* black */
  color: #202020;
}
.go-to-command {
  padding: 100px 0px;
}
.go-to-command .h2 {
  max-width: 50%;
}
.go-to-command .small_header {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  max-width: 25%;
}
.go-to-command .form {
  width: 700px;
}
.go-to-form-wrap {
  display: flex;
  justify-content: space-between;
}
.wrapper-line {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95vw;
  height: 0;
  background: url("../img/about-line.svg") no-repeat center top;
  background-size: 91%;
  opacity: 0;
  transition: opacity 0.1s ease-out;
  pointer-events: none;
}
@media (max-width: 1450px) {
  .about-top {
    padding-top: 50px;
  }
  .about-top .h1-about {
    font-size: 155px;
    line-height: 104%;
    margin: 0px 0px 75px;
  }
  .what-about .big-header {
    font-size: 51px;
    line-height: 73px;
  }
  .services-row .only-left-2 {
    max-width: 42%;
  }
  .what-about {
    padding: 92px 0px 53px;
  }
  .what-about .big-header {
    font-size: 44px;
    line-height: 59px;
    max-width: 85%;
  }
  .services-row .only-right-2 {
    align-self: flex-end;
    max-width: 49%;
    margin-top: -33px;
  }
  .services-row.right-row .big-header {
    font-size: 25px;
    line-height: 34px;
  }
  .story-about {
    padding: 84px 0px 45px;
  }
  .story-about .big-header {
    max-width: 69%;
  }
  .persons-wrap .person-name {
    font-size: 23px;
  }
  .choose-command .big-header {
    max-width: 95%;
  }
  .rewiew-section {
    max-width: 600px;
    margin-top: 5px;
  }
  .choose-command {
    padding: 80px 0px 340px;
  }
  .choose-command .big-header {
    line-height: 47px;
  }
  .go-to-command {
    padding: 100px 0px 52px;
  }
  .choose-command {
    padding: 40px 0px 340px;
  }
  .choose-command .owl-nav {
    right: 50px;
    bottom: -85px;
  }
}
@media (max-width: 1440px) {
  .wrapper-line {
    width: 100vw;
    background-size: 100%;
  }
}
@media (max-width: 1350px) {
  .about-top .h1-about {
    font-size: 110px;
  }
  .what-about {
    padding: 52px 0px 53px;
  }
  .choose-command {
    padding: 40px 0px 340px;
  }
  .choose-command .owl-nav {
    right: 50px;
    bottom: -85px;
  }
}
@media (max-width: 1280px) {
  .wrapper-line {
    width: 96%;
    background-size: 160vmin;
  }
}
@media (max-width: 970px) {
  .about-top .h1-about {
    font-size: 90px;
    margin: 0px 0px 55px;
  }
  .about-top {
    padding: 58px 0px 26px;
  }
  .what-about .big-header {
    font-size: 32px;
    line-height: 41px;
    max-width: 91%;
  }
  .what-about .medium_header {
    font-size: 21px;
  }
  .services-row.right-row .big-header {
    font-size: 20px;
    line-height: 29px;
  }
  .what-about {
    padding: 52px 0px 33px;
  }
  .story-about {
    padding: 44px 0px 45px;
  }
  .persons-wrap .person-name {
    font-size: 19px;
    margin: 11px 0px;
  }
  .persons-wrap .normal_text {
    font-size: 16px;
  }
  .choose-command .big-header {
    max-width: 80%;
    line-height: 43px;
  }
  .rewiew-section {
    max-width: 600px;
    margin-top: 20px;
  }
  .choose-command {
    padding: 40px 0px 412px;
  }
  .go-to-command .h2 {
    max-width: 68%;
  }
  .go-to-command .form {
    width: 500px;
  }
}
@media (max-width: 780px) {
  .about-top .h1-about {
    font-size: 69px;
    margin: 0px 0px 32px;
  }
  .about-top {
    padding: 45px 0px 26px;
  }
  .choose-command .owl-carousel .owl-item img {
    height: auto;
  }
  .go-to-form-wrap {
    flex-direction: column;
  }
  .go-to-command .small_header {
    max-width: 100%;
  }
  .persons-wrap .person-item {
    width: 45%;
  }
  .services-row .only-right-2 {
    align-self: flex-end;
    max-width: 100%;
    margin-top: 15px;
  }
  .what-about {
    background-size: 500px;
    background-position: top left;
  }
}
@media (max-width: 620px) {
  .about-top .h1-about {
    font-size: 59px;
  }
}
@media (max-width: 550px) {
  .about-top .h1-about {
    font-size: 40px;
    margin: 0px 0px 25px;
  }
  .skroll-text-wrap {
    margin-right: 24px;
  }
  .skroll-icon {
    width: 100px;
  }
  .skroll-icon svg {
    width: 100%;
  }
  .what-about {
    padding: 43px 0px 33px;
  }
  .what-about .big-header {
    font-size: 30px;
    line-height: 39px;
    max-width: 100%;
  }
  .services-row .only-left-2 {
    max-width: 100%;
  }
  .services-row .only-right-2 {
    margin-top: 6px;
  }
  .what-about .medium_header {
    font-size: 14px;
  }
  .what-about .normal_text {
    font-size: 14px;
  }
  .what-about .arrow-animate {
    max-width: 22px;
  }
  .what-about .small_header {
    font-size: 14px;
    margin-top: -3px;
  }
  .story-about {
    padding: 79px 0px 45px;
  }
  .story-about .big-header {
    max-width: 100%;
    font-size: 30px;
  }
  .persons-wrap .person-item {
    width: 100%;
  }
  .story-about {
    padding: 79px 0px 20px;
  }
  .choose-command {
    padding: 20px 0px 412px;
  }
  .choose-command .big-header {
    max-width: 100%;
    line-height: 36px;
    font-size: 28px;
  }
  .rewiew-section .owl-carousel .rew-text {
    font-size: 18px;
  }
  .rewiew-section {
    max-width: 100%;
    float: none;
    margin-top: 20px;
  }
  .choose-command {
    padding: 20px 0px 10px;
  }
  .go-to-command .h2 {
    max-width: 100%;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .go-to-command .small_header {
    font-size: 17px;
    line-height: 130%;
    margin: 10px 0px;
  }
  .choose-command .owl-nav {
    right: 50px;
    bottom: -58px;
  }
}
@media (max-width: 400px) {
  .about-top .h1-about {
    font-size: 34px;
  }
  .what-about .arrow-animate {
    max-width: 13px;
  }
  .skroll-text {
    font-size: 14px;
    line-height: 16px;
  }
  .story-about .big-header {
    max-width: 100%;
    font-size: 23px;
  }
  .story-about {
    padding: 39px 0px 20px;
  }
  .go-to-command .h2 {
    max-width: 100%;
    font-size: 23px;
  }
}
/*# sourceMappingURL=about.css.map */