.wrapper-line
section.about-top
    .container
        h1.h1-about Давай знакомиться ближе!
        .to-skroll 
            .skroll-text-wrap
                p.skroll-text 
                    | Скролл!
                p.skroll-text
                    | Будем знакомиться!
            .skroll-icon(class="wow swing" data-wow-offset="0")
                svg(width='104' height='104' viewbox='0 0 104 104' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M52 0L57.8656 5.56903L64.9319 1.63367L69.2282 8.48646L77.0512 6.43205L79.5083 14.138L87.5965 14.0936L88.06 22.1686L95.9051 24.137L94.3459 32.0735L101.455 35.9311L97.971 43.2306L103.897 48.7349L98.7076 54.9386L103.079 61.7438L96.5094 66.462L99.051 74.1405L91.5145 77.0767L92.0667 85.146L84.0368 86.1157L82.5648 94.0689L74.5461 93.0112L71.1425 100.348L63.6387 97.3297L58.5173 103.59L52 98.8L45.4827 103.59L40.3613 97.3297L32.8575 100.348L29.4539 93.0112L21.4352 94.0689L19.9632 86.1157L11.9333 85.146L12.4855 77.0767L4.94899 74.1405L7.49055 66.462L0.921062 61.7438L5.29235 54.9386L0.102612 48.7349L6.02896 43.2306L2.54506 35.9311L9.65409 32.0735L8.09495 24.137L15.94 22.1686L16.4035 14.0936L24.4917 14.138L26.9488 6.43205L34.7718 8.48646L39.0681 1.63367L46.1344 5.56903L52 0Z' fill='#E25043')
                    path(d='M42 33C48.8749 33 54.5062 34.3906 55 44C55.4938 53.6094 55.2057 65.3201 55 70' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                    path(d='M48 66L55 71L61 66' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
section.what-about 
    .container
        h2.big-header.empty-letter(class="wow fadeInUp" data-wow-offset="00")
            | FISH media hub – агентство интернет маркетинга.
            span.big-header
                | Мы Комплексно подходим к решению задач продвижения и продаж Ваших товаров и услуг.
        .srvices-line
            .services-row.left-row(class="wow fadeInUp" data-wow-offset="00") 
                .only-left-2 
                    p.medium_header 
                        | Сервисы, которые мы оказываем нашим клиентам
                    p.normal_text 
                        | Контекстная реклама Google. Продвижение в соцсетях. Таргетированная реклама. Facebook, Instagram, Twitter. 
                        | Контент маркетинг. Видеомаркетинг
            .services-row.right-row(class="wow fadeInUp" data-wow-offset="00")
                .only-right-2
                    svg( class="arrow-animate " width='22' height='88' viewbox='0 0 22 88' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1 1C7.8749 0.999993 13.5062 2.39056 14 12C14.4938 21.6094 14.2057 80.8201 14 85.5' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                        path(d='M7 82L14 87L20 82' stroke='#202020' stroke-width='0.8s' stroke-linecap='square' stroke-linejoin='round')
                    p.small_header
                        | подразделение Видеомаркетинга
                    .big-header.empty-letter 
                        | FISH - креативный видео продакшен! 
                        span.big-header
                            | МЫ за здоровую экосистему видео индустрии и знаем, как снять хороший улов для клиента.Это творческая среда наша стихия.   
section.story-about 
    .container
        .wrap-header(class="wow fadeInUp" data-wow-offset="00") 
            h2.big-header.empty-letter 
                | наша ИСТОРИЯ
                span.big-header
                    |, команда и суперспособности
        .persons-wrap
            .person-item 
                .person-img 
                    img(src="./img/command/person1.jpg", alt="")
                p.person-name 
                    | Сара Конор, она же 
                    span Оксана Владимировна
                p.normal_text 
                    | Здесь будет текст про каждого из нас. Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.Здесь будет текст про каждого из нас. Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.                 
            .person-item 
                .person-img 
                    img(src="./img/command/person2.jpg", alt="")
                p.person-name 
                    | Сара Конор, она же Оксана Владимировна
                p.normal_text 
                    | Здесь будет текст про каждого из нас. lorem Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.Здесь будет текст про каждого из нас. Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.                 
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil incidunt molestias eum, aut dolor voluptatem accusamus voluptates ut, necessitatibus inventore quibusdam perspiciatis ducimus illo quos facere maxime amet magnam quo.
            .person-item 
                .person-img 
                    img(src="./img/command/person1.jpg", alt="")
                p.person-name 
                    | Сара Конор, она же Оксана Владимировна
                p.normal_text 
                    | Здесь будет текст про каждого из нас. Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.Здесь будет текст про каждого из нас. Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.                 
            .person-item 
                .person-img 
                    img(src="./img/command/person2.jpg", alt="")
                p.person-name 
                    | Сара Конор, она же Оксана Владимировна
                p.normal_text 
                    | Здесь будет текст про каждого из нас. Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.Здесь будет текст про каждого из нас. Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.                 
            .person-item 
                .person-img 
                    img(src="./img/command/person1.jpg", alt="")
                p.person-name 
                    | Сара Конор, она же Оксана Владимировна
                p.normal_text 
                    | Здесь будет текст про каждого из нас. Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.Здесь будет текст про каждого из нас. Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.                 
            .person-item 
                .person-img 
                    img(src="./img/command/person1.jpg", alt="")
                p.person-name 
                    | Сара Конор, она же Оксана Владимировна
                p.normal_text 
                    | Здесь будет текст про каждого из нас. Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.Здесь будет текст про каждого из нас. Допустим Директор расскажет с чего все начиналось, про историю компании и место на рынке.                 
section.choose-command 
    .container 
        h2.big-header.empty-letter(class="wow fadeInUp" data-wow-offset="00")
            | Социальные сети приносят для клиента боольшую рыбу
            span.big-header
                |, здесь главное выбрать  правильную команду и снасти.
        .rewiew-section(class="wow fadeInUp" data-wow-offset="00")
            .owl-carousel.owl-theme
                .item
                    img(class="rew-img" src="./img/takefish.jpg", alt="")
                    .rew-text
                        | Отзыв довольного клиента: Спасибо, вы  открыли нам второе и-третье дыхание!  (вовлечен нравится самому себе) 
                .item
                    img(class="rew-img" src="./img/takefish.jpg", alt="")
                    .rew-text
                        | Отзыв довольного клиента: Спасибо, вы  открыли нам второе и-третье дыхание!  (вовлечен нравится самому себе) 
                .item
                    img(class="rew-img" src="./img/takefish.jpg", alt="")
                    .rew-text
                        | Отзыв довольного клиента: Спасибо, вы  открыли нам второе и-третье дыхание!  (вовлечен нравится самому себе) 
                .item
                    img(class="rew-img" src="./img/takefish.jpg", alt="")
                    .rew-text
                        | Отзыв довольного клиента: Спасибо, вы  открыли нам второе и-третье дыхание!  (вовлечен нравится самому себе) 
section.go-to-command 
    .container 
        h2.h2 У тебя есть суперспособности и хочешь к нам в команду?
        .go-to-form-wrap
            p.small_header(class="wow fadeInUp" data-wow-offset="00") Мы будем рады встретиться с вами лично или Online!
            .wrap-form.light-form 
                form.form(action="" novalidate).formWithValidation.novalidate.contactForm
                    .form-row
                        .form-item
                            label(for="invest-name").form-label.content-text
                            input(type="text" pattern="[A-Za-z]{2,50}" required id="name"  placeholder="Введите ваше имя*" ).form-input.name.field.name
                            span.error 1
                        .form-item
                            label(for="invest-mail").form-label.content-text 
                            input(type="email" required  pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" id="mail"  placeholder="Введите ваш телефон*" ).form-input.email.field
                            span.error 1
                        .form-item
                            label(for="invest-mail").form-label.content-text 
                            input(type="phone" required  pattern="[^@]+@[^@]+\.{2,6}" id="phone"  placeholder="Введите ваш email*" ).form-input.email.field.mail
                            span.error 1
                        .form-item
                            label(for="invest-name").form-label.content-text
                            input(type="text" pattern="[A-Za-z]{2,50}" required id="name"  placeholder="Сообщение" ).form-input.name.field
                            span.error 1
                        button(href="").link-to.send-btn(id="next-btn-thank") 
                            span отправить
