section.brif-section 
    .container 
        h2.medium_header_3
            | Бриф
        form.brif-form    
            .brif-step.to-do
                .step-name
                    | Видео ролик, КОТОРЫЙ ВАМ НЕОБХОДИМ, НУЖНО:
                .wrap-brif-step
                    .form_radio_btn(ontouchstart="")
                        input#radio-1(type='radio' name='what-need' value='1' )
                        label(for='radio-1') 
                            span.wisible Снять
                            span.hidden 
                    .form_radio_btn(ontouchstart="")
                        input#radio-2(type='radio' name='what-need' value='2')
                        label(for='radio-2') 
                            span.wisible Смонтировать используя стоковые кадры
                            span.hidden Пример текста
                    .form_radio_btn(ontouchstart="")
                        input#radio-3(type='radio' name='what-need' value='3')
                        label(for='radio-3') 
                            span.wisible Создать инфографику, 2D анимацию, 3D графику
                            span.hidden
                    .form_radio_btn(ontouchstart="")
                        input#radio-4(type='radio' name='what-need' value='4' )
                        label(for='radio-4') 
                            span.wisible Адаптировать на основании вашего материвала
                            span.hidden
            .brif-step.idea
                .step-name
                    | Идея видиоролика:
                .idea-step
                    .form_radio_btn(ontouchstart="")
                        input#radio-5(type='radio' name='idea' value='1' )
                        label(for='radio-5') 
                            span.wisible Придумать
                            span.subdescription (Анализ + креатив + сценарий)
                            span.hidden  Описание
                    .form_radio_btn(ontouchstart="")
                        input#radio-6(type='radio' name='idea' value='2')
                        label(for='radio-6') 
                            span.wisible Адаптировать
                            span.subdescription (Ваше видиние без лишнего)
                            span.hidden 
            .brif-step.time
                .step-name
                    | хронометраж (продолжительность видео)
                .wrap-brif-step
                    .form_radio_btn(ontouchstart="")
                        input#radio-7(type='radio' name='time' value='1' )
                        label(for='radio-7') 
                            span.wisible 10 сек
                            span.hidden 
                    .form_radio_btn(ontouchstart="")
                        input#radio-8(type='radio' name='time' value='2')
                        label(for='radio-8') 
                            span.wisible 30 сек
                            span.hidden 
                    .form_radio_btn(ontouchstart="")
                        input#radio-9(type='radio' name='time' value='3')
                        label(for='radio-9') 
                            span.wisible 1 мин
                            span.hidden
                    .form_radio_btn(ontouchstart="")
                        input#radio-10(type='radio' name='time' value='4' )
                        label(for='radio-10') 
                            span.wisible 5 мин и более
                            span.hidden
            .brif-step.video-command
                .step-name
                    | Сьемочная команда под вашу задачу
                .wrap-brif-step
                    .form_radio_btn(ontouchstart="")
                        input#radio-11(type='radio' name='video-command' value='1' )
                        label.plus(for='radio-11')
                            span.wisible Репортажная сьемка
                            span.hidden (Один оператор, помошник)
                    .form_radio_btn(ontouchstart="")
                        input#radio-12(type='radio' name='video-command' value='2')
                        label.plus(for='radio-12') 
                            span.wisible Мувимейкер
                            span.hidden  (Режиссер-оператор, художник по свету, помошник)
                    .form_radio_btn(ontouchstart="")
                        input#radio-13(type='radio' name='video-command' value='3')
                        label.plus(for='radio-13') 
                            span.wisible Художественная 
                            span.wisible малая  команда 
                            span.hidden (Режиссер-Продюсер, помошник режиссера, оператор, художник по свету, гафер, гриммер, технический персонал)
                    .form_radio_btn(ontouchstart="")
                        input#radio-14(type='radio' name='video-command' value='4' )
                        label.plus(for='radio-14') 
                            span.wisible Полноценная художественная команда
                            span.hidden (Продюсер, режиссер, помошник режиссера, оператор, фокус пуллер, художник по свету, гафер, художник постановщик, художник декоратор, художник кастюмер, локейшен менеджер, кастинг менеджер, гриммер, технический персонал)
            .brif-step.mounting
                .step-name
                    | МОНТАЖ
                .wrap-brif-step
                    .form_radio_btn(ontouchstart="")
                        input#radio-15(type='radio' name='mounting' value='1' )
                        label.plus(for='radio-15') 
                            span.wisible Простой линейный 
                            span.hidden (Аккуратно склеить кадры, на этом хватит)
                    .form_radio_btn(ontouchstart="") 
                        input#radio-16(type='radio' name='mounting' value='2')
                        label.plus(for='radio-16') 
                            span.wisible Креативный
                            span.hidden  (Режиссер монтажа курирует линейный монтаж, задает необходимую динамику и стиль, все будет выглядить проффесионально)
                    .form_radio_btn(ontouchstart="") 
                        input#radio-17(type='radio' name='mounting' value='3')
                        label.plus(for='radio-17') 
                            span.wisible Художественный                               
                            span.hidden (Режиссер монтажа курирует линейный монтаж в связки с художественным дизайнером. Этот тандем задает необходимую динамику и настроение, все граффические решения будут выполнены в фирменном стиле)
                    .form_radio_btn(ontouchstart="") 
                        input#radio-18(type='radio' name='mounting' value='4' )
                        label.plus(for='radio-18') 
                            span.wisible VFX 
                            span.hidden (Убать лишний артефакт с кадра, замазать синяки под глазами, заменить текст)
            .brif-step.effects
                .step-name
                    | ВИДЕО ЭФФЕКТЫ (согласно фирменного стиля бренда)
                .wrap-brif-step
                    .form_radio_btn(ontouchstart="")
                        input#radio-19(type='radio' name='mounting' value='1' )
                        label(for='radio-19') 
                            span.wisible Анимированный логотип 
                            span.hidden 
                    .form_radio_btn(ontouchstart="")
                        input#radio-20(type='radio' name='mounting' value='2')
                        label(for='radio-20') 
                            span.wisible Плашки с текстом
                            span.hidden  
                    .form_radio_btn(ontouchstart="")
                        input#radio-21(type='radio' name='mounting' value='3')
                        label(for='radio-21') 
                            span.wisible Переходы                               
                            span.hidden
                    .form_radio_btn(ontouchstart="")
                        input#radio-22(type='radio' name='mounting' value='4' )
                        label(for='radio-22') 
                            span.wisible Субтитры/Титры
                            span.hidden 
            .brif-step.sound
                .step-name
                    | МУЗЫКА, голос, звуки
                .three-part-step
                    .form_radio_btn(ontouchstart="")
                        input#radio-23(type='radio' name='sound' value='1' )
                        label(for='radio-23') 
                            span.wisible Голос диктора (М/Ж)  
                            span.hidden 
                    .form_radio_btn(ontouchstart="")
                        input#radio-24(type='radio' name='sound' value='2')
                        label(for='radio-24') 
                            span.wisible SFX 
                            span.hidden  (дополненный звуковой ряд и аудио эффекты)
                    .form_radio_btn(ontouchstart="")
                        input#radio-25(type='radio' name='sound' value='3')
                        label(for='radio-25') 
                            span.wisible Музыка с авторскими правами                              
                            span.hidden
            .brif-step.color
                .step-name
                    | цветокоррекция
                .three-part-step
                    .form_radio_btn(ontouchstart="")
                        input#radio-26(type='radio' name='color' value='1' )
                        label(for='radio-26') 
                            span.wisible ЛУТ
                            span.hidden (одна цветовая настройка на весь видео ряд)
                    .form_radio_btn(ontouchstart="")
                        input#radio-27(type='radio' name='color' value='2')
                        label(for='radio-27') 
                            span.wisible Профессиональная 
                            span.wisible цветокоррекция                             
                    .form_radio_btn(ontouchstart="")
                        input#radio-28(type='radio' name='color' value='3')
                        label(for='radio-28') 
                            span.wisible Не надо, и так сойдет                            
                            span.hidden
            .brif-step.text
                .step-name
                    | Информация, которую вы хотите добавить от себя
                textarea.textarea(placeholder="Введите сообщение...")
            button(href="").link-to.send-btn(id="next-btn-thank") 
                span отправить


section.go-to-command 
    .container 
        h2.big-header(class="wow fadeInUp" data-wow-offset="00")
            | ВЫ ПОНЯЛИ, ЧТО НИЧЕГО НЕ ПОНЯЛИ
            span.big-header.empty-letter
                |, СВЯЗАТЬСЯ С НАМИ!
        .go-to-form-wrap
            p.small_header(class="wow fadeInUp" data-wow-offset="00")
            .wrap-form.light-form 
                form.form(action="" novalidate).formWithValidation.novalidate.contactForm
                    .form-row
                        .form-item
                            label(for="invest-name").form-label.content-text
                            input(type="text" pattern="[A-Za-z]{2,50}" required id="name"  placeholder="Введите ваше имя*" ).form-input.name.field.name
                            span.error 1
                        .form-item
                            label(for="invest-mail").form-label.content-text 
                            input(type="email" required  pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" id="mail"  placeholder="Введите ваш телефон*" ).form-input.email.field
                            span.error 1
                        .form-item
                            label(for="invest-mail").form-label.content-text 
                            input(type="phone" required  pattern="[^@]+@[^@]+\.{2,6}" id="phone"  placeholder="Введите ваш email*" ).form-input.email.field.mail
                            span.error 1
                        .form-item
                            label(for="invest-name").form-label.content-text
                            input(type="text" pattern="[A-Za-z]{2,50}" required id="name"  placeholder="Сообщение" ).form-input.name.field
                            span.error 1
                        button(href="").link-to.send-btn(id="next-btn-thank") 
                            span отправить
