script(src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous")
script(src='./js/owl.carousel.js')
script(src='./js/wow.min.js')
script(src='./js/forms.js')

script(type="text/javascript" src="./js/slick.min.js")
script(src='./js/main.min.js')

if indexp
	script(src="./js/live-line.js")
	script(src="./js/mainPage.js")
	script(src="./js/fish.js")

if about
	script(src="./js/about.js")
	script(src="./js/about-line.js")

if portfolio
	script(src="./js/play.js") 
