
script(src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous")
script(src='./js/owl.carousel.js')
script(src='./js/wow.min.js')
script(src='./js/main.min.js')
script(src='./js/forms.js')
script(src="./js/fish.js")