script(src="./js/jquery.min.js")
script(src='./js/owl.carousel.js')
script(src='./js/wow.min.js')
if !portfolio
	script(src='./js/forms.js')

script(type="text/javascript" src="./js/slick.min.js")

if indexp
	script(src='./js/main.min.js')
	script(src="./js/live-line.js")
	script(src="./js/mainPage.js")
	script(src="./js/fish.js")

if about
	script(src="./js/about.js")
	script(src="./js/about-line.js")

if portfolio
	script(src="./js/play.js")
