header.header
    .container.flex
        .col-2
            .col.logo-block.line-right
                a(href="./").logo
                    img(src="./img/Logo.svg", alt="" title="fish || video-production")
        .col-2-header
            nav.nav.line-right.line-before
                ul.nav-ul
                    li.nav-item
                        a(href="./about.html").nav-link О нас
                    li.nav-item
                        a(href="./portfolio.html").nav-link Портфолио
                    li.nav-item
                        a(href="./contacts.html").nav-link Контакты
                    li.nav-item
                        a(href="./brif.html").nav-link Бриф
            ul.lang-block
                a(href="#").lang-item.lang-active Рус
                a(href="#").lang-item Укр
                a(href="#").lang-item Eng
        .burger-menu
            .wrap-burger
                span.burger-top.burger-line
                span.burger-middle.burger-line
                span.burger-bottom.burger-line
