section.site_name_section 
    .container.top-section.flex 
        .col-2.tablet-hide
            h1.h1 FISH VIDEO PRODUCTION
        .col-2
            p.text_middle
                | Мы креативный видео продакшен!
section.video-section 
    video(class="main_video" id="video" loop autoplay src='./media/videocompress.mp4'  poster='./img/poster.jpg')
.owl-carousel-top
    div.what_fish-section.item
        .container.flex
            .wrap-text-and-image
                .text-part(class="wow fadeInUp" data-wow-offset="300") 
                    p.small_header Что за рыба такая?
                    p.big-header.empty-letter(data-text="Наша диджитал рыбка") Наша диджитал рыбка
                    p.big-header.margin - симбиоз виртуального мира с реальным
                    p.medium_header У нас много супер силы и Мы жаждим ее применить! 
                .image-part
                    img(src="./img/lfish/1_0000.svg" alt="fish")
                .column-2-text 
                    p.normal_text.text-col(class="wow fadeInUp" data-wow-offset="300") 
                        | Она проявляется в идее 
                        | с визуальным решением, от сьемок видео ролика, до монтажа, 3D графики и саунд дизайна.
    div.love-section.item 
        .container.flex
            .col-2
                p.big-header(class="wow fadeInUp" data-wow-offset="300" ) 
                    | Мы Искренне любим 
                    | и кайфуем от своего 
                    | дела!
            .col-3-right 
                .item(class="wow fadeInUp" data-wow-offset="300" data-wow-delay="0.5s") 
                    svg(width='22' height='88' viewbox='0 0 22 88' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1 1C7.8749 0.999993 13.5062 2.39056 14 12C14.4938 21.6094 14.2057 80.8201 14 85.5' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                        path(d='M7 82L14 87L20 82' stroke='#202020' stroke-width='0.8s' stroke-linecap='square' stroke-linejoin='round')
                    p.normal_text 
                        | Для создания крутой идеи уходит много супер силы! Да это так! Мы можем работать над концепцией круглые сутки, отдаемся полностью,  its true.
                .item(class="wow fadeInUp" data-wow-offset="300" data-wow-delay="1s") 
                    svg(width='22' height='88' viewbox='0 0 22 88' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1 1C7.8749 0.999993 13.5062 2.39056 14 12C14.4938 21.6094 14.2057 80.8201 14 85.5' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                        path(d='M7 82L14 87L20 82' stroke='#202020' stroke-width='1.5s' stroke-linecap='square' stroke-linejoin='round')
                    p.normal_text 
                        | Ищем, вдохновляемся, перебираем облако референсов, коллективно генериуем супер решение, делаем правки, еще  правки,  все ради результата!
                .item(class="wow fadeInUp" data-wow-offset="300" data-wow-delay="1.8s") 
                    img(src="./img/tony.jpg", alt="")
                    p.medium_header_2 
                        | ЕСТЬ, У НАС ПОЛУЧИОСЬ! Готовы просматривать 
                        | на повторе снова и снова! 
section.qu-b
    .container.flex                        
        .col-3-right.quote(class="wow fadeInUp" data-wow-offset="300") 
            p.big-header.empty-letter 
                | Мы всем сердцем хотим, 
            p.big-header
                | чтоб у бренда с которым 
                | нам по пути все получилось!
section.portfolio-section 
    .container 
        p.medium_header_3 Наше Портфолио
        .portfolio-list
            .portfolio-item(class="wow fadeInLeft" data-wow-offset="200" data-wow-delay="0.5s")
                a(href="#").portfolio-link
                    img(src="./img/portfolio/portfolio1.jpg", alt="")
                    span.portfolio-deskription
                        span.normal_text 
                            span HERBALIFE 
                            | кулінарное шоу  
                    
            .portfolio-item(class="wow fadeInLeft" data-wow-offset="200" data-wow-delay="0.5s") 
                a(href="#").portfolio-link
                    img(src="./img/portfolio/portfolio2.jpg", alt="")
                    span.portfolio-deskription
                        span.normal_text 
                            | Строительная компания 
                            span ПОЛТАВАТРАНСБУД     
            .portfolio-item(class="wow fadeInLeft" data-wow-offset="200" data-wow-delay="0.5s")
                a(href="#").portfolio-link
                    img(src="./img/portfolio/portfolio3.jpg", alt="")
                    span.portfolio-deskription
                        span.normal_text 
                            span Шлях закарпатського живопису 
            .portfolio-item(class="wow fadeInLeft" data-wow-offset="200" data-wow-delay="0.5s") 
                a(href="#").portfolio-link
                    img(src="./img/portfolio/portfolio4.jpg", alt="")
                    span.portfolio-deskription
                        span.normal_text 
                            span ТАСКОМБАНК
            a(href="#").portfolio-btn(class="wow fadeInLeft" data-wow-offset="250" data-wow-delay="1s") 
                svg.portfolio-star(width='299' height='300' viewbox='0 0 299 300' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path( class="portfolio-star-path" d='M297.363 150.344L297.689 150L297.363 149.656L281.765 133.228L292.787 113.437L293.018 113.022L292.616 112.77L273.423 100.737L279.177 78.8275L279.298 78.3683L278.845 78.2241L257.263 71.3423L257.387 48.6898L257.39 48.2151L256.916 48.1878L234.3 46.8895L228.787 24.9178L228.672 24.4573L228.206 24.5488L205.978 28.9156L195.174 9.00516L194.948 8.58791L194.519 8.79239L174.075 18.5498L158.659 1.95176L158.336 1.60393L157.972 1.90853L140.597 16.4435L121.538 4.20079L121.138 3.94423L120.861 4.32981L107.647 22.7291L86.1418 15.6109L85.6911 15.4617L85.5188 15.9041L77.2954 37.0116L54.6954 35.4652L54.2218 35.4328L54.1649 35.9041L51.449 58.3935L29.1745 62.5161L28.7077 62.6025L28.7698 63.0732L31.7322 85.5315L11.1826 95.064L10.752 95.2637L10.9292 95.7042L19.3837 116.72L1.85043 131.064L1.483 131.364L1.76412 131.747L15.1795 150L1.76412 168.253L1.48299 168.636L1.85043 168.936L19.3837 183.28L10.9292 204.296L10.752 204.736L11.1826 204.936L31.7322 214.469L28.7698 236.927L28.7077 237.397L29.1745 237.484L51.449 241.606L54.1648 264.096L54.2218 264.567L54.6954 264.535L77.2954 262.988L85.5188 284.096L85.6911 284.538L86.1418 284.389L107.647 277.271L120.861 295.67L121.138 296.056L121.538 295.799L140.597 283.556L157.972 298.091L158.336 298.396L158.659 298.048L174.075 281.45L194.519 291.208L194.948 291.412L195.174 290.995L205.978 271.084L228.206 275.451L228.672 275.543L228.787 275.082L234.3 253.11L256.916 251.812L257.39 251.785L257.387 251.31L257.263 228.658L278.845 221.776L279.298 221.632L279.177 221.173L273.423 199.263L292.616 187.23L293.018 186.978L292.787 186.563L281.765 166.772L297.363 150.344Z' fill='white' stroke='#E25043')
                span Смотреть все                
section.closer-section 
    .container
        .wrap-text-and-image
            .text-part(class="wow fadeInUp" data-wow-offset="300")
                p.big-header давайте перейдем ближе к делу, 
                p.big-header.empty-letter
                    | что мы снимаем 
                    | и какие задачи берем на себя   
            .image-part(class="wow bounceInRight" data-wow-offset="300")
                img(src="./img/illustration-about.jpg", alt="")
    .container.flex.tasks_block
        .col-3-right
            .steps-block.border-top
                .step(class="wow fadeInUp" data-wow-offset="200" data-wow-delay="0.5s")
                    svg(width='40' height='22' viewbox='0 0 40 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1 21C0.999993 14.1251 2.39055 8.49378 12 8C21.6094 7.50622 33.3201 7.79426 38 8' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                        path(d='M33 15L38 8L33 2' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                    .illustration 
                        img(src="./img/steps/step1.jpg", alt="")    
                    .about-step
                        p.normal_text
                            | Начнем с анализа целевой аудитории, следом идея, креатив, концепция продвижения, сценарий, синематик, кастинг
                .step(class="wow fadeInUp" data-wow-offset="200" data-wow-delay="0.7s")
                    svg(width='40' height='22' viewbox='0 0 40 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1 21C0.999993 14.1251 2.39055 8.49378 12 8C21.6094 7.50622 33.3201 7.79426 38 8' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                        path(d='M33 15L38 8L33 2' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                    .illustration
                        img(src="./img/steps/step2.jpg", alt="")    
                    .about-step
                        p.normal_text
                            | Дизайнер с аниматором визуализируют задачу на основании  рефренсов и технического задания 
                .step(class="wow fadeInUp" data-wow-offset="200" data-wow-delay="1s")
                    svg(width='40' height='22' viewbox='0 0 40 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1 21C0.999993 14.1251 2.39055 8.49378 12 8C21.6094 7.50622 33.3201 7.79426 38 8' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                        path(d='M33 15L38 8L33 2' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                    .illustration 
                        img(src="./img/steps/step3.jpg", alt="")    
                    .about-step
                        p.normal_text
                            | Художественный монтаж, цветокоррекция, озвучка диктором, саунд дизайн и 3d графика любового уровня сложности - это наше
                .step(class="wow fadeInUp" data-wow-offset="200" data-wow-delay="1s")
                    svg(width='40' height='22' viewbox='0 0 40 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1 21C0.999993 14.1251 2.39055 8.49378 12 8C21.6094 7.50622 33.3201 7.79426 38 8' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                        path(d='M33 15L38 8L33 2' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                    .illustration
                        img(src="./img/steps/step4.jpg", alt="")    
                    .about-step
                        p.normal_text
                            | VFX и chroma key монтаж, легко уберем ненужный артефакт с кадра, заменим зеленку на райский сад с милыми котиками
                .step(class="wow fadeInUp" data-wow-offset="200" data-wow-delay="1s")
                    svg(width='40' height='22' viewbox='0 0 40 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M1 21C0.999993 14.1251 2.39055 8.49378 12 8C21.6094 7.50622 33.3201 7.79426 38 8' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                        path(d='M33 15L38 8L33 2' stroke='#202020' stroke-width='2' stroke-linecap='square' stroke-linejoin='round')
                    .illustration
                        img(src="./img/steps/step5.jpg", alt="")    
                    .about-step
                        p.normal_text
                            | И наконец наша съемочкая команда, круче наших ребят может быть только легендарный Чак Норрис
section.our-video-section
    .container
        p.medium_header_3 видео, которые мы создаем
        .video-themes(class="wow bounceInRight" data-wow-offset="150" )
            .video-themes-item.video-item
                img(src="./img/fish/1.jpg", alt="").video-themes-img
                p.normal_text Рекламные видеоролики для соц. сетей  и тв
            .video-themes-item.video-item
                img(src="./img/fish/2.jpg", alt="").video-themes-img
                p.normal_text YOUTUBE обзоры, блог,  спорт, медицина, строительство
            .video-themes-item.video-item
                img(src="./img/fish/3.jpg", alt="").video-themes-img
                p.normal_text Короткометражные фильмы про ваш продукт и компанию
            .video-themes-item.video-item
                img(src="./img/fish/4.jpg", alt="").video-themes-img
                p.normal_text 2D/3D анимация любой сложности копия
            .video-themes-item.video-item
                img(src="./img/fish/5.jpg", alt="").video-themes-img
                p.normal_text Интервью, репортажная сьемка, промо
            .video-themes-item.video-item
                img(src="./img/fish/6.jpg", alt="").video-themes-img
                p.normal_text Кулинарные шоу, фудсъемка  и все, что связано с едой
            .video-themes-item.video-item
                img(src="./img/fish/7.jpg", alt="").video-themes-img
                p.normal_text Вирусные видео для соц. сетей
            .video-themes-item.no-border
                svg.svg(width='299' height='300' viewbox='0 0 299 300' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M297.363 150.344L297.689 150L297.363 149.656L281.765 133.228L292.787 113.437L293.018 113.022L292.616 112.77L273.423 100.737L279.177 78.8275L279.298 78.3683L278.845 78.2241L257.263 71.3423L257.387 48.6898L257.39 48.2151L256.916 48.1878L234.3 46.8895L228.787 24.9178L228.672 24.4573L228.206 24.5488L205.978 28.9156L195.174 9.00516L194.948 8.58791L194.519 8.79239L174.075 18.5498L158.659 1.95176L158.336 1.60393L157.972 1.90853L140.597 16.4435L121.538 4.20079L121.138 3.94423L120.861 4.32981L107.647 22.7291L86.1418 15.6109L85.6911 15.4617L85.5188 15.9041L77.2954 37.0116L54.6954 35.4652L54.2218 35.4328L54.1649 35.9041L51.449 58.3935L29.1745 62.5161L28.7077 62.6025L28.7698 63.0732L31.7322 85.5315L11.1826 95.064L10.752 95.2637L10.9292 95.7042L19.3837 116.72L1.85043 131.064L1.483 131.364L1.76412 131.747L15.1795 150L1.76412 168.253L1.48299 168.636L1.85043 168.936L19.3837 183.28L10.9292 204.296L10.752 204.736L11.1826 204.936L31.7322 214.469L28.7698 236.927L28.7077 237.397L29.1745 237.484L51.449 241.606L54.1648 264.096L54.2218 264.567L54.6954 264.535L77.2954 262.988L85.5188 284.096L85.6911 284.538L86.1418 284.389L107.647 277.271L120.861 295.67L121.138 296.056L121.538 295.799L140.597 283.556L157.972 298.091L158.336 298.396L158.659 298.048L174.075 281.45L194.519 291.208L194.948 291.412L195.174 290.995L205.978 271.084L228.206 275.451L228.672 275.543L228.787 275.082L234.3 253.11L256.916 251.812L257.39 251.785L257.387 251.31L257.263 228.658L278.845 221.776L279.298 221.632L279.177 221.173L273.423 199.263L292.616 187.23L293.018 186.978L292.787 186.563L281.765 166.772L297.363 150.344Z' fill='white' stroke='#E25043')
                p.normal_text 
                    | Cвадьбы и корпоративы                     
                    | НЕ СНИМАЕМ
section.rules-section 
    .container
        .col-2(class="wow fadeInUp" data-wow-offset="300" )
            p.big-header.big-header_46 НА нашем судне есть внегласные правила, 
            p.big-header_2.big-header_46.empty-letter.no-margin которые мы заякорили
    .container.flex 
        .col-2.rules-list 
            .rules-item.border-top(class="wow fadeInUp" data-wow-offset="250" )
                p.number.empty-letter 01
                div
                    p.normal_text.rules Сроки 
                    p.normal_text.rules  важнее всего
            .rules-item(class="wow fadeInUp" data-wow-offset="200" data-wow-delay="0.5s")
                p.number.empty-letter 02
                p.normal_text.rules Действовать надо согласно брендбука
            .rules-item(class="wow fadeInUp" data-wow-offset="200" data-wow-delay="0.5s")
                p.number.empty-letter 03
                p.normal_text.rules Хочешь понять целевую аудиторию - стань ей
            .rules-item(class="wow fadeInUp" data-wow-offset="200" data-wow-delay="0.5s")
                p.number.empty-letter 04
                p.normal_text.rules Подчеркиваем ценности компании, охотимся на эмоцию!
            .rules-item(class="wow fadeInUp" data-wow-offset="200" data-wow-delay="0.5s")
                p.number.empty-letter 05
                p.normal_text.rules Мы предложим несколько вариантов, чтоб небыло скучно
            .rules-item(class="wow fadeInUp" data-wow-offset="200" data-wow-delay="0.5s")
                p.number.empty-letter 06
                p.normal_text.rules Клиент всегда в игре, от снасти до улова
            .rules-item(class="wow fadeInUp" data-wow-offset="200" data-wow-delay="0.5s")
                p.number.empty-letter 07
                div
                    p.normal_text.rules Мы работаем
                    p.normal_text.rules 24/7
section.brand-section
    .container
        p.medium_header_3(class="wow fadeInUp" data-wow-offset="250" ) МЫ ЗАРЯЖАЛИ энергией БРЕНДЫ и ивенты:
        .owl-carousel.owl-theme
            div.owl-ite.item                
                img.owl-image(src="./img/logos/dowe.svg", alt="")
            div.owl-ite.item
                img.owl-image(src="./img/logos/lexus.svg", alt="")
            div.owl-ite.item
                img.owl-image(src="./img/logos/lacoste.svg", alt="")
            div.owl-ite.item
                img.owl-image(src="./img/logos/dominos.svg", alt="")
            div.owl-ite.item                
                img.owl-image(src="./img/logos/dowe.svg", alt="")
            div.owl-ite.item
                img.owl-image(src="./img/logos/lexus.svg", alt="")
            div.owl-ite.item
                img.owl-image(src="./img/logos/lacoste.svg", alt="")
            div.owl-ite.item
                img.owl-image(src="./img/logos/dominos.svg", alt="")
section.quote-section
    .container.flex 
        .col-3-right.quote(class="wow fadeInUp" data-wow-offset="250" )
            p.big-header.empty-letter 
                | если бренд действительно нравится себе 
                span.big-header
                    |  - окружающие полюбят его еще больше!
section.form-section
    .step-first.form-section-paddings
        .container 
            div 
                p.hedaer-white
                    span.empty-white-letter ПОЗДРАВЛЯЕМ, КЕП!
                    span.white-letter ВЫ ДОШЛИ 
                        | ДО КОНЦА, ТЕПЕРЬ ОСТАЕТСЯ ПРОЙТИ ТЕСТ, ЧТОБЫ МЫ ЛУЧШЕ ПОНЯЛИ ВАШЕ НАМЕРЕНИЕ И ПОТРЕБНОСТЬ 
                        | В ВИДЕОПРОИЗВОДСТВЕ!
        .container.flex 
            div.col-3-right
                .links 
                    button.link-to.recall-link#next-btn 
                        span Позвонить мне
                    a(href="").link-to.brif-link 
                        span Заполнить бриф 
    .step-second.hide.form-section-paddings
        .container 
            div 
                p.hedaer-white  
                    span.white-letter 
                        | Пожалуйста заполните форму 
                        | и мы свяжемся с вами 
                        | в ближайшее время!
        .container.flex 
            div.col-3-right                
                form.form(action="" novalidate).formWithValidation.novalidate.contactForm
                    .form-row
                        .form-item
                            label(for="invest-name").form-label.content-text
                            input(type="text" pattern="[A-Za-z]{2,50}" required id="name"  placeholder="Введите ваше имя*" ).form-input.name.field.name
                            span.error 1
                        .form-item
                            label(for="invest-mail").form-label.content-text 
                            input(type="email" required  pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" id="mail"  placeholder="Введите ваш телефон*" ).form-input.email.field
                            span.error 1
                        .form-item
                            label(for="invest-mail").form-label.content-text 
                            input(type="phone" required  pattern="[^@]+@[^@]+\.{2,6}" id="phone"  placeholder="Введите ваш email*" ).form-input.email.field.mail
                            span.error 1
                        .form-item
                            label(for="invest-name").form-label.content-text
                            input(type="text" pattern="[A-Za-z]{2,50}" required id="name"  placeholder="Сообщение" ).form-input.name.field
                            span.error 1
                        button(href="").link-to.send-btn(id="next-btn-thank") 
                            span отправить
    .step-third.form-section-paddings.hide
        .container
            div.centered 
                p.hedaer-white                    
                    span.white-letter 
                        | Спасибо, Ваш запрос принят, скоро мы свяжемся с вами!