.container
	h2.portfolio__title ПОРТФОЛИО

	section.articles
		atricle.content
			.content__video
				.thumbnails
					img.thumbnails__play(src="./img/play.svg" alt="play video")
					span.thumbnails__background(data-yt-id="GZdAeqxwc4Y")
			h4.content__title.small_header Главное в мире – Мир!
			.content__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni earum dolores sequi vitae provident, consequuntur praesentium, iure magnam quibusdam nostrum pariatur at officiis. Pariatur quia harum ducimus id fuga, veniam, minus accusamus, repellat culpa illum cupiditate debitis ipsa fugiat beatae officia. Aut eos alias fugiat accusamus accusantium illum ratione, mollitia incidunt vitae tempore voluptatum eligendi? Quidem architecto dolorem numquam voluptate quas unde reprehenderit officiis hic nemo quasi iure, fugit eos expedita voluptatum harum alias. Velit maxime ipsa voluptas tempore rerum.
			p.all-video 
				span Смотреть полное видео 
				a(href="#").link Ссылка 
		atricle.content
			.content__video
				.thumbnails
					img.thumbnails__play(src="./img/play.svg" alt="play video")
					span.thumbnails__background(data-yt-id="OT8YH9p6UDE")
			h4.content__title.small_header Главное в мире – Мир!
			.content__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni earum dolores sequi vitae provident, consequuntur praesentium, iure magnam quibusdam nostrum pariatur at officiis. Pariatur quia harum ducimus id fuga, veniam, minus accusamus, repellat culpa illum cupiditate debitis ipsa fugiat beatae officia. Aut eos alias fugiat accusamus accusantium illum ratione, mollitia incidunt vitae tempore voluptatum eligendi? Quidem architecto dolorem numquam voluptate quas unde reprehenderit officiis hic nemo quasi iure, fugit eos expedita voluptatum harum alias. Velit maxime ipsa voluptas tempore rerum.
			p.all-video 
				span Смотреть полное видео 
				a(href="#").link Ссылка 
		atricle.content
			.content__video
				.thumbnails
					img.thumbnails__play(src="./img/play.svg" alt="play video")
					span.thumbnails__background(data-yt-id="ZH4fYp1E6UI")
			h4.content__title.small_header Главное в мире – Мир!
			.content__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni earum dolores sequi vitae provident, consequuntur praesentium, iure magnam quibusdam nostrum pariatur at officiis. Pariatur quia harum ducimus id fuga, veniam, minus accusamus, repellat culpa illum cupiditate debitis ipsa fugiat beatae officia. Aut eos alias fugiat accusamus accusantium illum ratione, mollitia incidunt vitae tempore voluptatum eligendi? Quidem architecto dolorem numquam voluptate quas unde reprehenderit officiis hic nemo quasi iure, fugit eos expedita voluptatum harum alias. Velit maxime ipsa voluptas tempore rerum.
			p.all-video 
				span Смотреть полное видео 
				a(href="#").link Ссылка 
		atricle.content
			.content__video
				.thumbnails
					img.thumbnails__play(src="./img/play.svg" alt="play video")
					span.thumbnails__background(data-yt-id="EIhV-jyY0ds")
			h4.content__title.small_header Главное в мире – Мир!
			.content__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni earum dolores sequi vitae provident, consequuntur praesentium, iure magnam quibusdam nostrum pariatur at officiis. Pariatur quia harum ducimus id fuga, veniam, minus accusamus, repellat culpa illum cupiditate debitis ipsa fugiat beatae officia. Aut eos alias fugiat accusamus accusantium illum ratione, mollitia incidunt vitae tempore voluptatum eligendi? Quidem architecto dolorem numquam voluptate quas unde reprehenderit officiis hic nemo quasi iure, fugit eos expedita voluptatum harum alias. Velit maxime ipsa voluptas tempore rerum.
			p.all-video 
				span Смотреть полное видео 
				a(href="#").link Ссылка 
		atricle.content
			.content__video
				.thumbnails
					img.thumbnails__play(src="./img/play.svg" alt="play video")
					span.thumbnails__background(data-yt-id="Fmi5nuNR0jA")
			h4.content__title.small_header Главное в мире – Мир!
			.content__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni earum dolores sequi vitae provident, consequuntur praesentium, iure magnam quibusdam nostrum pariatur at officiis. Pariatur quia harum ducimus id fuga, veniam, minus accusamus, repellat culpa illum cupiditate debitis ipsa fugiat beatae officia. Aut eos alias fugiat accusamus accusantium illum ratione, mollitia incidunt vitae tempore voluptatum eligendi? Quidem architecto dolorem numquam voluptate quas unde reprehenderit officiis hic nemo quasi iure, fugit eos expedita voluptatum harum alias. Velit maxime ipsa voluptas tempore rerum.
			p.all-video 
				span Смотреть полное видео 
				a(href="#").link Ссылка 