- var portfolio = true;
doctype html
html
	include includes/head.pug
	body
		include includes/header.pug

		include includes/portfolio-page.pug

		include includes/footer-dark.pug

		include includes/foot.pug
