.contact-section 
    padding-top: 77px;

.contacts-frame
    display: flex
    justify-content: space-between
    padding-top 40px

.contacts-part
    width: 49%

.contacts-part-line
    border-top: 1px solid #202020

.contacts-line 
    border-bottom: 1px solid #202020
    padding: 0px 0px 24px;
.map
    width: 100% 
    iframe 
        width: 100%
        height: 346px

.cont-name
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #202020;
.cont-item
    display: flex
    justify-content: space-between
.cont-link
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
.cont-link:hover
    color: accent-color;
    transition: all ease-in-out 0.3s

@media (max-width: 1450px)
    .cont-link
        font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;

@media (max-width: 980px)
    .cont-item
        flex-direction: column

@media (max-width: 780px)
    .cont-item
        flex-direction: column
    .contacts-frame
        flex-direction: column   
    .contacts-part
        width: 100%     
    .contacts-part-line
        margin-bottom 20px    
    .contact-section
        padding-top: 13px;
    .contacts-frame
        padding-top 12px;
    .cont-name
        font-size: 16px;   
        margin-bottom: 26px;
    .cont-link
        margin-bottom: 8px;
    .contacts-line
        padding: 6px 0px 14px;    