.wrapper {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 98vw;
    height: 250vh;
    overflow: hidden;
    background: #fff url('../img/line.svg') no-repeat center bottom;
}