.portfolio__title {
	display: block;
	font-size: 26px;
	margin-top: 100px;
}

.content__title.small_header
	text-transform: none;

.content__description
	font-size: 18px;
	line-height: 23px;

.articles
	display: grid
	grid-template-columns: 1fr 1fr
	grid-gap: 20px;
	grid-auto-columns: 560px
	justify-items: center
	align-items: center
	transition: all .5s ease-in-out
	padding-bottom 100px;

.content
	margin-top: 40px
	width: 100%
	.all-video
		display: flex;
		font-size: 18px;
		line-height: 22px;
		span 
			margin-right 5px;
		.link 
			color: accent-color
			text-decoration: underline
			text-transform: uppercase	

	&__video
		display: grid
		width: 100%

		.thumbnails
			position relative
			display: block

			&__play
				position absolute
				cursor: pointer
				top: 50%
				left: 50%
				transform: translateY(-50%) translateX(-50%)

			&__background
				display: block
				width: 100%
				height: 35vmin
				background-repeat: no-repeat;
				background-position: center center;
				background-color: #000;
				background-size: 75vmin;

		iframe
			justify-self: center
			align-self: center
			width: 100%
			height: 35vmin

	&__title
		margin: 15px 0 23px;
		transition: all .5s ease-in-out

	&__description
		font-size: 18px
		margin: 10px 0
		transition: all .5s ease-in-out

@media (max-width: 1080px)
	contentSize = .96rem

	.content
		&__title
			font-size: contentSize

		&__description
			font-size: contentSize

@media (max-width: 780px)
	contentSize = 1.1rem

	.articles
		grid-template-columns: 1fr

	.content
		&__title
			font-size: contentSize

		&__description
			font-size: contentSize
	.portfolio__title
		display: block;
		font-size: 20px;
		margin-top: 28px;
		margin-bottom: -21px;
	.articles
		padding-bottom: 40px;	

@media (max-width: 550px)
	contentSize = 0.9rem

	.content
		&__title
			font-size: contentSize

		&__description
			font-size: contentSize
