dark-color = #202020;
light-color = #EEEEEE;
mainPage-color = #fff;
accent-color = #E25043;


base-flex =
    display: flex
    justify-content: space-between
    // align-items: center
    align-items: flex-start
    flex-wrap: wrap;


container-max = 1125px;

transition-base = 
    transition:  all 0.3s ease-in-out



.container
    position relative
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;

.container.flex
    justify-content: space-between
    display: flex;

.col
    width: 24%

.col-2 
    width: 50%;


.h1 
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 100%;
    /* or 90px */
    color: dark-color;
    margin-top 25px;
    letter-spacing: 0.03em;   
    margin-bottom:0px;

.h2  
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    /* or 42px */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* black */
    color: dark-color;



 .small_header 
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
    margin-bottom 60px;


.big-header
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 120%; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top 0px;



.big-header.empty-letter
    font-size: 55px;
    margin-bottom: 0px;

.big-header.big-header_46
    font-size: 46px;

.big-header_46.empty-letter
     font-size: 56px;

.empty-letter
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #202121;
    font-family: Arial, sans-serif;
    position: relative
    color: transparent

.hedaer-white
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    .empty-white-letter
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        font-family: Arial, sans-serif;
        position: relative
        color: transparent



.medium_header
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 130%;
    text-transform: uppercase;
    max-width 335px;


.medium_header_2
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    max-width 335px;


.medium_header_3
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    text-transform: uppercase;
    max-width 335px;
    
.normal_text
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;

.column-2-text 
    width: 50%
    display: flex;
    justify-content: flex-end;
    .text-col
        width 50%;

.col-3-right
    display: flex;
    width: 75%;
    justify-content: flex-end;
    align-self: flex-end;
    .item 
        width: 33%;
        padding: 0px 10px;

.text_middle
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: dark-color;
    margin: 0px;

@media (max-width: 1440px)
    .h1 
        font-size: 87px;
        margin-top: 11px;
    .container
        max-width: 1230px;	
    .header .col-2 
        width: 53%;	

@media (max-width: 1170px)
    .big-header.empty-letter
        font-size: 37px;
    .big-header
        font-size: 37px; 
    .medium_header_2
        font-size: 18px;       

@media (max-width: 780px)
    .tablet-hide
        display: none;

@media (max-width: 550px)
    .container 
        max-width: 329px;
    .top-section .col-2 
        width: 100%	